body {
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}
.about-me {
  display: flex;
  text-align: start;
  padding: 2em;
  background-image: linear-gradient(to bottom, #231999, #2937b1, #3151c8, #3c6bdf, #4a85f4);
}
#about-header{
  font-size: 2em;
}

#box-1{
  background-image: url(https://picsum.photos/1200/1200);
  width: 900px;
  height: 1000px;
}
#box-2{
  background-image: url(https://picsum.photos/800/800);
  width: 600px;
  height: 600px;
}
#box-3{
  background-image: url(https://picsum.photos/850/850);
  width: 600px;
  height: 600px;
}
h3{
  font-style: italic;
  color: green;
}


footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
} 
.box {
  width: fit-content;
  word-wrap: normal;
  border: 1em purple;
  padding: 50px;
  margin: 20px;
  box-shadow: 5px 10px 2em black;
  transition: transform .2s;
  border-radius: 20px;
}
.box:hover {
  transform: scale(1.1);
  border-style: none;
}
#box-header{
  border-radius: 5px;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (max-width: 992px){
  .box{
   flex-wrap: wrap;
  }
   .lg-view{
    display:none;
 }
 .sm-view{
    display:inline-block;
 }
  }

@media screen and (max-width: 768px){
  
 .box{
  flex-wrap: wrap;
 }
  .lg-view{
    display:none;
 }

 .sm-view{
  display:inline-block;
}
}